# jpackage configuration for Windows
app-name=PortalHost
app-version=5.0.30
main-class=com.portalhost.desktop.DesktopMainKt
main-jar=PortalHost.jar
win-dir-chooser=true
win-menu=true
win-shortcut=true
win-per-user-install=false
install-dir-chooser=true