<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define ProductName = "PortalHost" ?>
  <?define ProductVersion = "5.0.61" ?>
  <?define Manufacturer = "PortalHost" ?>
  <?define UpgradeCode = "c7a3b8e1-4d2f-4a9e-8b6c-1d3e5f7a9b0c" ?>
  <?define ProductCode = "*" ?>

  <Product Id="$(var.ProductCode)" Name="$(var.ProductName)" Language="1033" Version="$(var.ProductVersion)" Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />

    <!-- ARP properties (Add/Remove Programs) -->
    <Property Id="ARPCOMMENTS">Minecraft Java Edition Server Manager</Property>
    <Property Id="ARPHELPLINK">https://github.com/dhyllrocoedu-ai/portalhosting/issues</Property>
    <Property Id="ARPURLINFOABOUT">https://github.com/dhyllrocoedu-ai/portalhosting</Property>
    <Property Id="ARPNOREMOVE">0</Property>
    <Property Id="ARPNOMODIFY">1</Property>

    <MajorUpgrade DowngradeErrorMessage="A newer version of $(var.ProductName) is already installed." />

    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="PortalHost" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="PortalHostCustomComponents" />
    </Feature>

    <!-- Custom actions for cleanup on uninstall -->
    <CustomAction Id="CleanAppDataDirs"
      ExeCommand='cmd /c rmdir /s /q "[LocalAppDataFolder]PortalHost" &amp; rmdir /s /q "[AppDataFolder]PortalHost"'
      Execute="deferred" Impersonate="no" Return="check" />

    <CustomAction Id="CleanRegistry"
      ExeCommand='cmd /c reg delete "HKCU\Software\PortalHost" /f'
      Execute="deferred" Impersonate="no" Return="ignore" />

    <InstallExecuteSequence>
      <Custom Action="CleanAppDataDirs" After="RemoveFiles">NOT UPGRADINGPRODUCTCODE</Custom>
      <Custom Action="CleanRegistry" After="RemoveFiles">NOT UPGRADINGPRODUCTCODE</Custom>
    </InstallExecuteSequence>

    <!-- UI -->
    <UIRef Id="WixUI_Minimal" />
    <UIRef Id="WixUI_ErrorProgressText" />

  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="PortalHost" />
      </Directory>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuDir" Name="PortalHost" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <!-- jpackage populates this with application files -->
    </ComponentGroup>
  </Fragment>

  <!-- Custom components: uninstall shortcut + Uninstall.bat inside the install folder -->
  <Fragment>
    <ComponentGroup Id="PortalHostCustomComponents" Directory="INSTALLFOLDER">
      <Component Id="UninstallInFolderComponent" Guid="*">
        <CreateFolder />
        <Shortcut Id="UninstallInFolderShortcut"
                  Name="Uninstall PortalHost"
                  Description="Uninstall PortalHost from this folder"
                  Target="[SystemFolder]msiexec.exe"
                  Arguments="/x [ProductCode]"
                  WorkingDirectory="INSTALLFOLDER" />
        <RegistryValue Root="HKCU" Key="Software\PortalHost\Uninstall" Name="Installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>

      <!-- Uninstall.bat as an actual file in the install folder -->
      <Component Id="UninstallBatComponent" Guid="*">
        <File Id="UninstallBatFile" Source="$(var.SourceDir)\Uninstall.bat" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <!-- Uninstall shortcut in Start Menu -->
  <Fragment>
    <DirectoryRef Id="ProgramMenuDir">
      <Component Id="UninstallShortcutComponent" Guid="*">
        <Shortcut Id="UninstallShortcut"
                  Name="Uninstall PortalHost"
                  Description="Uninstall PortalHost"
                  Target="[SystemFolder]msiexec.exe"
                  Arguments="/x [ProductCode]"
                  WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\PortalHost" Name="Installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>

</Wix>
